<h2>Контакты</h2>
<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="email" type="text" class="form-control" placeholder="Введите E-mail">
  </div>
  <div class="form-group">

  <div class="form-group">
    <label>Сообщение</label>
    <input name="message" type="text" class="textarea" placeholder="Введите текст">
  </div>
  <div class="form-group">

 <form action="/contacts" method="post">
   <p><select size="3" multiple name="hero[]">
    <option disabled>Выберите парикмахера</option>
    <option value="Чебурашка">Чебурашка</option>
    <option selected value="Крокодил Гена">Крокодил Гена</option>
    <option value="Шапокляк">Шапокляк</option>
    <option value="Крыса Лариса">Крыса Лариса</option>
   </select></p>
   <p><input type="submit" value="Отправить"></p>
  </form>

  <button type="submit" class="btn btn-primary">Отправить</button>
